*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

        .titulo h1 {
          font-size: 50px;
        }
        .subt p{
          font-size: 25px;
          color: rgb(0, 0, 0);
        }
        .navegacion{
          width: 1150px;
          margin: 30px auto;
          background: #333333;
        }
        .navegacion ul{
          list-style: none;
        }
        .menu > li{
        position: relative;
        display: inline-block;
        }
        .menu >li>a{
          display: block;
          padding: 15px 20px;
          color: #ffffff;
          font-family: arial;
          text-decoration: none;
        }
        .menu  ul li ul li{
          display: block;
        }
        .menu ul li.submenu::before{
          content: 'f107';
          position: absolute;
          font-family: fontAwesome;
          line-height: 50px;
          color: #fff;
          right: 5px;
        }
        .menu  ul li:hover ul{
          display: block;
        }
        .menu li a:hover{
          color: red;
          transition: all 1s;
        }
        .submenu{
          position: absolute;
          background: #333333;
          width: 120%;
          visibility: hidden;
          opacity: 0;
          transition: opacity 1.5s;
        }
        .submenu li a{
          display: block;
          padding: 15px;
          color: #fff;
          font-family: arial;
          text-decoration: none;
        }
        .menu li:hover .submenu{
          visibility: visible;
          opacity: 1;
        }
        
        .Principal {   
          -ms-flex: 70%; 
          flex: 70%;
          background-color: white;
          padding: 20px;
        }
        .Principal h1{
          text-align: center;
        }
        body, html {
          height: 100%;
         
        }
        .io{margin: 2cm; text-align: justify;
          flex: 1;min-width: 250px;} 

          .io2{margin: 2cx; text-align: justify;
            flex: 1;min-width: 250px;} 
            .io3{margin: 100px; text-align: justify;
            flex: 1;min-width: 250px;} 

        .info h1{text-align:center;color: #9FD5D1;
        size: 60px;}

        .texto-img img{
          float: left;
          margin: 0 2px 10px 10px;
          width: 300px;}
          
      .texto-img2 img{
          float: right;
          margin: 0 2px 10px 10px;
          width: 40%;}
      img{border: 5px solid #ffffff;
          border-radius: 5px;}
          .main {
            max-width: 1000px;
            margin: auto;
          }
          .fuentes{float: right; 
            margin-top: auto; 
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            font-family: arial;}
          h1 {
            font-size: 50px;
            word-break: break-all;
          }
          a{text-decoration: none;}

          .color1{color: red;text-align: center;}
      
          .ce{margin-left: auto;
            margin-right: auto;}
            .flota{float: right;}
            .column {
              float: left;
              width: auto;
              flex: 1;
              min-width: 250px;}

              .row {
                display: -ms-flexbox; 
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 0 4px;
              }
            @media screen and (max-width: 800px) {
              .column {
                -ms-flex: 50%;
                flex: 50%;
                max-width: 50%;
              }
            }
            
            @media screen and (max-width: 600px) {
              .column {
                -ms-flex: 100%;
                flex: 100%;
                max-width: 100%;
              }
            }